.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 20px 0;
  background-color: $g-0;
  box-shadow: 0 3px 10px rgb(0 0 0 / 10%);

  @media screen and (max-width: $phoneWidth) {
    padding: 10px 0;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $phoneWidth) {
      flex-direction: column;
    }
  }

  &__logo {
    color: $g-999;
    font-weight: 700;
  }
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $phoneWidth) {
    margin-top: 4px;
  }

  &__item {
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    display: block;
    transition: all 0.2s ease;
    color: $purple-color-100;

    // active link
    &.isActive,
    &.router-link-active,
    &.router-link-exact-active {
      text-decoration: underline;
    }
  }
}
